@{ ViewData["Title"] = "About"; }

@{
    ViewBag.Title = "About";
}
<head>
    <meta charset="utf-8" />
    <title>Colleges</title>
    <link href=".\css\default.css" rel="stylesheet" type="text/css" media="screen" />

</head>
<body>
    <table class="VanillaTable">
        <tr>
            <td valign="top" width="5"> </td>
            <td class="RoomDesc" valign="top">
                <h2>
                    This is how it was done.
                    First, we created index.html. This page is the main page with look and feel similar to a typical search result page. This page
                    lists multiple hotels.
                    <br /><br />Next we created individual pages for each hotels and attached them to index.html.
                    <br /><br />A common CSS file (Default.css) was created to control overall look and feel.
                    <br /><br />Chart.JS is used for displaying average room rate bar graph.
                </h2>
            </td>
        </tr>
    </table>
</body>