<html lang="en" xmlns="http://www.w3.org/1999/xhtml">



<head>
    <meta charset="utf-8" />
    <title>Amazing Hotels</title>
    <link href=".\css\default.css" rel="stylesheet" type="text/css" media="screen" />

</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <table class="VanillaTable">
        <tr>
            <td colspan="3">
                <a href="Index.html"><img src=".\img\Logo.JPG" width="400"></img></a>                
            </td>
        </tr>       
        <tr>
            <td valign="top" class="LeftBar" >
                <table width="100%">
                    <tr><td class="LeftBarCell"><a href="Index.html">Flight Booking</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="Index.html">Car Rentals</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="Index.html">Cabin Rentals</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="Index.html">Boat Rentals</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="Index.html">Bike Rentals</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="Index.html">Motorcycle Zone</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="Index.html">Food and Restaurants</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="Index.html">Gift Shops</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="Index.html">Camping Gear</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="Index.html">Scenic Railroad Bookings</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="Index.html">River Cruises</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="Index.html">International Cruises</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="Index.html">Travel Insurance</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="Index.html">Procedures and Policies</a></td></tr>
                    <tr><td class="LeftBarCell"><a href="main.html">Information Zone</a></td></tr>
                </table>
            </td>
            <td valign="top" width="5"> </td>
            <td  class="RoomDesc" valign="top">
                <h2>
                    This is how it was done.
                    First, we created index.html. This page is the main page with look and feel similar to a typical search result page. This page
                    lists multiple hotels.
                    <br /><br />Next we created individual pages for each hotels and attached them to index.html.
                    <br /><br />A common CSS file (Default.css) was created to control overall look and feel.
                    <br /><br />Chart.JS is used for displaying average room rate bar graph.
                </h2>
            </td>           
        </tr>        
    </table>
</body>
</html>