@{ ViewData["Title"] = "About"; }

@{
    ViewBag.Title = "About";
}
<head>
    <meta charset="utf-8" />
    <title>Colleges</title>
    <link href=".\css\default.css" rel="stylesheet" type="text/css" media="screen" />

</head>
<body>
    <table class="VanillaTable">
        <tr>
            <td valign="top" width="5"> </td>
            <td class="RoomDesc" valign="top">
                <h2>
                    This project displays colleges in the State of Florida.  The listing of colleges is pulled from the college score card 
                    dataset found on the data.gov website using an API.  There is a picture of the college along with its' name and the city
                    it is located in within Florida.  The tuition revenue and expenditures for each instituition are displayed in numerical 
                    and bar graph format.

                    <br /><br />A common CSS file (Default.css) was created to control overall look and feel.
                    <br /><br />Chart.JS is used for displaying the tuition revenue and expenditure data.
                </h2>
            </td>
        </tr>
    </table>
</body>