@{ ViewData["Title"] = "About"; }

@{
    ViewBag.Title = "About";
}
<head>
    <meta charset="utf-8" />
    <title>Colleges</title>
    <link href=".\css\default.css" rel="stylesheet" type="text/css" media="screen" />

</head>
<body>
    <table class="VanillaTable">
        <tr>
            <td valign="top" width="5"> </td>
            <td class="RoomDesc" valign="top">
                <h2>
                    Each year there are large number of students graduating from High School. There are a large number of graduates that would like to attend 
                    College in a particular state. The realities for these perspective students and their parents are that not all colleges are created equal.
                    This application will allow parents to identify which colleges are within their budget and which will provide a robust learning environment for 
                    their child.  A college that has a small delta between the revenue and expenditures indicates that the college reinvests the money they make back
                    into the school. 

                    <br /><br />This application displays a listing of colleges in the state of Florida.  The listing of colleges is pulled from the college score card 
                    dataset found on the data.gov website using an API.  There is a picture of the college along with its' name and the city
                    it is located in within Florida.  The tuition revenue and expenditures for each instituition are displayed in numerical 
                    and bar graph format.  
                    
                    <br /><br />The interface allows for new additions to be added to the dataset with the create hyperlink in the upper left hand corner.  Clicking on
                    the name of the college will display the tuition and revenue data in a tabular format.  The display will also allow a user to edit the 
                    data for each college.

                    <br /><br />This application is developed by a small team of developers that are currently pursuing a Masters degree through the University of South Florida.
                    The team members have experienced first hand the financial challenges that college bound students can face. 
                   

                    <br /><br />A common CSS file (Default.css) was created to control overall look and feel.
                    <br /><br />Chart.JS is used for displaying the tuition revenue and expenditure data.
                </h2>
            </td>
        </tr>
    </table>
</body>