@{ ViewData["Title"] = "About"; }


<head>
    <meta charset="utf-8" />
    <title>Colleges</title>
    <link href=".\css\default.css" rel="stylesheet" type="text/css" media="screen" />

</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <table class="VanillaTable">
        <tr>
            <td colspan="3">
                <a href="index.html"><img src=".\img\Logo.JPG" width="400"></img></a>
            </td>
        </tr>
        <tr>
            <td valign="top" class="LeftBar">
                <table width="100%">
                    <tr><td class="LeftBarCell">@Html.ActionLink("About page","about")</td></tr>
                </table>
            </td>
            <td valign="top" width="5"> </td>
            <td class="RoomDesc" valign="top">
                <h2>
                    This is how it was done.
                    First, we created index.html. This page is the main page with look and feel similar to a typical search result page. This page
                    lists multiple hotels.
                    <br /><br />Next we created individual pages for each hotels and attached them to index.html.
                    <br /><br />A common CSS file (Default.css) was created to control overall look and feel.
                    <br /><br />Chart.JS is used for displaying average room rate bar graph.
                </h2>
            </td>
        </tr>
    </table>
</body>
</html>