@model Project_College_Scorecard.Models.School

@{
    ViewData["Title"] = "Details";
}

<dd>
        College Name: @Html.DisplayFor(model => model.name)
</dd>
<dd>
        City: @Html.DisplayFor(model => model.city)
</dd>
<dd>
    <table class="table">
        <tr>
            <th>Tuition Revenue</th>
            <th>Tuition Expenditure</th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.tuition_revenue_per_fte)
            </td>
            <td>
                @Html.DisplayFor(model => model.instructional_expenditure_per_fte)
            </td>
        </tr>
    </table>
</dd>
